.parentDiv {
  background-color: black;
  height: 400px;
  margin: auto;
  width: 200px;
}
.circle {
  height: 30%;
  width: 80%;
  margin: 0.5rem auto;
  border-radius: 50%;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.select {
  box-shadow: 0px 0px 50px white;
}
